h1 { color: red; }
th,td { border: ridge thick black; }

@keyframes infinity-scroll-left { from { transform: translateX(0);}
 to { transform: translateX(-100%);} }
.scroll-infinity_wrap {
 display: flex; overflow: hidden;}
.scroll-infinity_list {
 display: flex; list-style: none; padding: 0}
.scroll-infinity_list--left {
 animation: infinity-scroll-left 80s infinite 0.5s both;}
.scroll-infinity_item { width: calc(100vw / 6);}
.scroll-infinity_item>img { width: 100%;}

td.important {color: gold; }
td.importan {color: silver; }
td.importa {color: bronze; }


